@model  IEnumerable<TodoMVC.Models.Task>

@{
    ViewBag.Title = "AllTasks";
}

<h2>AllTasks</h2>

<div>
    <h4>Task</h4>
    <hr />



    <table>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Task Deadline</th>
                <th>Task Status</th>

            </tr>

        </thead>
        @foreach (var task in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => task.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.TaskDeadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.TaskStatus)
                    </td>

                    <td>

                        @Html.ActionLink("Edit", "Edit", new { id = task.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = task.Id })

                    </td>
                </tr>
            </tbody>
        }
    </table>

    <div id="update">
        <input type="text" v-model="id" value="" />
        <button v-on:click="Complete">Complete</button>

        
    </div>

    <div id="delete">
        <input type="text" v-model="id" value="" />
        <button v-on:click="Delete">Delete</button>
    </div>


        <script src="~/Scripts/vue.min.js"></script>

        <script>


            var completeTask = new Vue({
                el: "#update",
                data: {
                    id: ""                    

                },
                methods: {
                    Complete() {
                        location.replace("/Home/Edit/" + this.id);
                    }
                }

            });


            var deleteTask = new Vue({
                el: "#delete",
                data: {
                    id: ""

                },
                methods: {
                    Delete() {
                        location.replace("/Home/Delete/" + this.id);
                    }
                }

            });
        </script>




    </div>
