@model TodoMVC.Models.User

@{
    ViewBag.Title = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
   
</head>
<body>
    <h2>Login Page</h2>

    <div id="Login">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <form>

                <div id="login">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email )

                    @Html.LabelFor(model => model.Password)
                    @Html.EditorFor(model => model.Password )


                    <button type="submit"  id="btnLogin">
                        Login
                    </button>
                    
                </div>

            </form>
        }
        </div>
        


<script src="~/Scripts/vue.min.js"></script>

    <script>

       
        var login = new Vue({
            el: "#login",
            data: {
                email: "",
                password: ""

            },
            methods: {
                myFunction() {
                    location.replace("/Home/Index");
                }
            }

        });
    </script>
</body>
</html>

